<h1>New Game</h1>
<h3><%= @letters %>

<p> What's the longest word out of the above letters? </p>
<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <input type="text" name="word" placeholder="Word">
  <input type="submit">
</form>
